img{
	width: 120px;
	height: 80px;
}

.banner {
	font-family: 'Dancing Script', cursive;
	margin: auto;
}

.textBox{
	text-align: center;
	border:10px solid white;
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: #e7f0ec ;
	padding-bottom: 5px;
	position: relative;
}

p{
	font-size: 25px;
	color: black;
}

#img1{
	position: relative;
	width: 240px;
	height: 160px;
}