<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/drinks.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/drinks.js"></script>

<head>
	<title>Cocktails</title>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../index.html">Home</a>
  <a href="../templates/story.html">Our Company</a>
  <a href="../templates/ingredients.html">Ingredients</a>
  <a href="../templates/drinks.html">Cocktails</a>
  <a href="../templates/contact.html">Contact Us</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
 	
<div class="header">
	<h1>Cocktails</h1>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>

	<div class="slideshow-container">
	<div class="mySlides fade">
		<div class="polaroid">
			<img src="../images/caramel.png" alt="CaramelCoquito" style="width:25%">		
			<div class="textBox">Caramel Coquito</div>
		</div>
	</div>


		<div class="mySlides fade">
		<div class="polaroid">
			<img src="../images/coquito.png"alt="coconut" style="width:25%">
			<div class="textBox" ="caption">Dairy Coquito</div>
		</div>
		</div>


		<div class="mySlides fade">
		<div class="polaroid">
			<img src="../images/strawberry.png"alt="StrawberryCoquito" style="width:30%">
			<div class="textBox">Strawberry Coquito</div>
		</div>
		</div>


		<div class="mySlides fade">
		<div class="polaroid">
			<img src="../images/blue.png"alt="blue hawaiian" style="width:25%">
			<div class="textBox">Coquito Blue Hawaiian</div>
		</div>
		</div>
	</div>


	
	<a class="prev">&#10094;</a>
		<a class="next">&#10095;</a>
		
	<!-- dots -->
	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	
	</div>

</body>
</html>