<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Final</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/story.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/story.js"></script>
	</head>
<body>
 <div class="header">
   
    <div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="../index.html">Home</a>
	  <a href="../templates/story.html">Our Company</a>
	  <a href="../templates/ingredients.html">Ingredients</a>
	  <a href="../templates/drinks.html">Cocktails</a>
	  <a href="../templates/contact.html">Contact Us</a>
	</div>

	<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
 </div> 



<div id="parallax1"></div>

	<div style="height:300px;background-color:#98cbbf;font-size:20px">
	<h3 align="center">Background</h3>
	<p align="center">
	My grandmother was the matriarch of our family. She kept our family traditions alive through her delicious Puerto Rican delicacies, "Coquito" being one of them. When she passed away from cancer in 2009, our family gatherings and celebrations just weren’t the same without her touch. To honor my grandmother, in 2012, Flaco Coquito® - Skinny Coquito® was born. I decided to take over my grandmother’s Coquito making, while altering her recipe and incorporating a few changes of my own. Due to many illnesses that plague my family along with many other latino families, I wanted to make it so that all families could once again enjoy this delicious Puerto Rican beverage.</p>
</div>

<div id="parallax2"></div>

	<div style="height:150%;background-color:#98cbbf;font-size:20px">
		<h3 align="center">What is Coquito?</h3>
	<p align="center">
	"Coquito," meaning little coconut, is a traditional creamy coconut beverage originating from the island of Puerto Rico.Flaco Coquito aka Skinny Coquito is a coconut liqueur, which is specially handcrafted using the finest earthly ingredients. Our Puerto Rican "Coquito" is tradition in a bottle, delicious, light and smooth. Flaco Coquito is 30 proof/15% alcohol, made with organic coconuts, 181 proof premium Caribbean rum, cane juice, with notes of pure Madagascan vanilla extract and cinnamon sticks from India. Our "Coquito" is preservative free,  dairy-free, gluten-free, vegan and contains no artificial flavoring.</p>
</div>

<div id="parallax3"></div>

	<div style="height:200px;background-color:#98cbbf;font-size:20px">
		<h3 align="center">What is the difference between Flaco Coquito and your competitors?</h3>
	<p align="center">
	Flaco Coquito is light and can be enjoyed all year round. Some competitors use "Natural" ingredients, which may contain animal product; for instance, some sugars contain animal bone char. We use the highest quality ingredients.</p>
</div>




<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>

</body>
</html>




</body>
</html>